<div class="dropdown dropdown-fixed">
    <button
        class="btn btn-default icon-crosshairs"
        style="height: 34px;"
        data-toggle="dropdown">
            <span style="font-family: sans-serif!important">
                <?php if($record->version === $this->widget->form->model->currentVersionNumber && $this->widget->form->model->hasPublishedVersion): ?>
                    Published
                <?php else: ?>
                    Show
                <?php endif ?>
            </span>
    </button>
    <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
        <?php foreach($record->locale_versions as $locale => $slug): ?>
            <li>
                <a
                    type="button"
                    target="_blank"
                    href="<?php echo $this->widget->form->model->frontendPath($locale) ?>?model=<?php echo $this->widget->form->model->id ?>&version=<?php echo $record->version ?>"
                >
                    <?php echo strtoupper($locale) ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
