<?php $record->noFallbackLocale(); ?>
<?php if (!$record->hasPublishedVersion): ?>
    <?php if ($record->hasValidSlug()): ?>
        <div class="dropdown dropdown-fixed">
            <a
                class="btn btn-default icon-crosshairs"
                data-toggle="dropdown"
            >
                <span style="font-family: sans-serif!important">
                    Preview
                </span>
            </a>
            <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
                <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale): ?>
                <?php if (!empty($record->getAttributeTranslated('slug', $locale))): ?>
                <li>
                    <a
                        type="button"
                        target="_blank"
                        style="color: black !important;"
                        href="<?php echo $record->frontendPath($locale) ?>?mode=preview"
                    >
                        <?php echo strtoupper($locale) ?>
                    </a>
                </li>
                <?php endif ?>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif ?>
<?php else: ?>
    <div class="dropdown dropdown-fixed" style="display: inline-block;">
        <a
            class="btn btn-default icon-crosshairs"
            data-toggle="dropdown"
        >
                <span style="font-family: sans-serif!important">
                    Published
                </span>
        </a>
        <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
            <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale): ?>
                <?php if (!empty($record->currentModel($locale)->slug)): ?>
                    <li>
                        <a
                            type="button"
                            target="_blank"
                            style="color: black !important;"
                            href="<?php echo $record->frontendPath($locale) ?>"
                        >
                            <?php echo strtoupper($locale) ?>
                        </a>
                    </li>
                <?php endif ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php if ($record->hasEditVersion() && $record->hasValidSlug()): ?>
        <div class="dropdown dropdown-fixed" style="display: inline-block;">
            <a
                class="btn btn-default icon-crosshairs"
                data-toggle="dropdown"
            >
                        <span style="font-family: sans-serif!important">
                            Preview
                        </span>
            </a>
            <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
                <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale): ?>
                    <?php if (!empty($record->getAttributeTranslated('slug', $locale))): ?>
                        <li>
                            <a
                                type="button"
                                target="_blank"
                                style="color: black !important;"
                                href="<?php echo $record->frontendPath($locale) ?>?mode=preview"
                            >
                                <?php echo strtoupper($locale) ?>
                            </a>
                        </li>
                    <?php endif ?>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif ?>
<?php endif ?>
