<?php if($record->version === $this->widget->form->model->currentVersionNumber && $this->widget->form->model->hasPublishedVersion): ?>
    <p style="color: green;"><strong>CURRENT VERSION</strong></p>
<?php else: ?>
    <button
        type="button"
        class="btn btn-primary"
        style="background:green;"
        data-request="onPublishOldVersion"
        onclick="$(this).data('request-data', {
                                                    version: '<?php echo $record->version ?>'
                                                })"
        data-request-confirm="Are you sure you want to discard all changes and revert to old version?"
        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>">
        Publish this version
    </button>
<?php endif ?>
