<?php $this->widget->form->model->noFallbackLocale(); ?>
<?php if ($this->widget->form->model->hasPublishedVersion): ?>
    <div class="pull-right" style="text-align: right">
        <p>Published version: <?php echo $this->widget->form->model->currentVersionNumber ?></p>
        <p><?php echo $this->widget->form->model->currentVersion()->createdDate() ?> by <?php echo $this->widget->form->model->currentVersion()->user ?></p>
        <div class="loading-indicator-container" style="display: flex;flex-direction: row;align-items: flex-end;">
            <div class="dropdown dropdown-fixed">
                <button
                    class="btn btn-default icon-crosshairs"
                    style="height: 34px;margin-right: 10px"
                    data-toggle="dropdown"
                >
                                                <span style="font-family: sans-serif!important">
                                                    Published
                                                </span>
                </button>
                <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;text-align: left;">
                    <?php foreach(array_keys(RainLab\Translate\Models\Locale::listEnabled()) as $locale): ?>
                    <?php if (!empty($this->widget->form->model->currentModel($locale)->slug)): ?>
                    <li>
                        <a
                            type="button"
                            target="_blank"
                            href="<?php echo $this->widget->form->model->frontendPath($locale) ?>"
                        >
                            <?php echo strtoupper($locale) ?>
                        </a>
                    </li>
                    <?php endif ?>
                    <?php endforeach; ?>
                </ul>
            </div>
            <button
                type="button"
                style="background: darkred;"
                data-request="onUnpublishCurrentVersion"
                data-request-data="redirect:0"
                data-load-indicator="Publish"
                data-request-confirm="Are you sure you want to unpublish the current version?"
                class="btn btn-primary">
                Unpublish
            </button>
        </div>
    </div>
<?php endif ?>

<div class="form-buttons">
    <?php if ($this->widget->form->model->hasEditVersion() && $this->widget->form->model->hasValidSlug()): ?>
    <div class="dropdown dropdown-fixed" style="display: inline-block;">
        <button
            class="btn btn-default icon-crosshairs"
            style="height: 34px;"
            data-toggle="dropdown"
        >
            <span style="font-family: sans-serif!important">
                Preview
            </span>
        </button>
        <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
            <?php foreach(array_keys(RainLab\Translate\Models\Locale::listEnabled()) as $locale): ?>
            <?php if (!empty($this->widget->form->model->getAttributeTranslated('slug', $locale))): ?>
            <li>
                <a
                    type="button"
                    target="_blank"
                    href="<?php echo $this->widget->form->model->frontendPath($locale) ?>?mode=preview"
                >
                    <?php echo strtoupper($locale) ?>
                </a>
            </li>
            <?php endif ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <button
        type="button"
        style="background: green;margin-top: -10px;"
        data-request="onPublish"
        data-request-data="redirect:0"
        data-load-indicator="Publish"
        data-request-confirm="Are you sure you want to publish a new version?"
        class="btn btn-primary">
        Publish version <?php echo ($this->widget->form->model->currentVersion() ? $this->widget->form->model->currentVersionNumber : 0) + 1 ?>
    </button>
    <?php endif ?>
</div>
